storing strings in variables

In [1]:
name = "nataly"

In [2]:
age = 22

In [3]:
print name

nataly

In [4]:
print age

22

In [5]:
print name + age

TypeError: cannot concatenate 'str' and 'int' objects

In [6]:
print name + str(age)

nataly22

In [12]:
letter1 = "m"
letter2 = "y"
letter3 = "n"
letter4 = "a"
letter5 = "m"
letter6 = "e"

In [16]:
start = letter1 + letter2 + " " + letter3 + letter4 + letter5 + letter6

In [17]:
gas = 2.35
truck = 14

In [18]:
print gas

2.35

In [19]:
print truck

14

In [20]:
3/5

0

In [21]:
3.0/5.0

0.6

In [2]:
colors = ["red", "blue", "green", "yellow", "brown", "orange", "pink", "purple", "burgundy", "blanchedalmond"]

In [3]:
print colors

['red', 'blue', 'green', 'yellow', 'brown', 'orange', 'pink', 'purple', 'burgundy', 'blanchedalmond']

In [24]:
len(colors)

10

In [26]:
print colors[9]

blanchedalmond

In [27]:
cars = {"ford":"f150", "volkswagon":"gold", "audi":"q2", "smart":"smartfor4", "bmw":"328i", "toyota":"corolla"}

In [28]:
print cars["audi"]

q2

In [30]:
# let's loop through the colors
for color in colors:
    print color

red
blue
green
yellow
brown
orange
pink
purple
burgundy
blanchedalmond

In [34]:
# start after first item
for color in colors[1:]:
    print color

blue
green
yellow
brown
orange
pink
purple
burgundy
blanchedalmond

In [35]:
print colors[1:]

['blue', 'green', 'yellow', 'brown', 'orange', 'pink', 'purple', 'burgundy', 'blanchedalmond']

In [42]:
building = "annenberg"

In [43]:
building[0]

'a'

In [45]:
building[5:]

'berg'

In [47]:
for letter in building:
    print letter

a
n
n
e
n
b
e
r
g

In [48]:
colors[:5]

['red', 'blue', 'green', 'yellow', 'brown']

In [49]:
for car in cars:
    print car

toyota
ford
bmw
volkswagon
smart
audi

In [52]:
for car in cars:
    print cars[car]

corolla
f150
328i
gold
smartfor4
q2

In [53]:
for car in cars:
    print car

toyota
ford
bmw
volkswagon
smart
audi

In [54]:
# loop through colors and print blanchedalmond
for color in colors:
    if color is "blanchedalmond":
        print color

blanchedalmond

In [56]:
for color in colors:
    if color is not "blanchedalmond":
        print color

red
blue
green
yellow
brown
orange
pink
purple
burgundy

In [57]:
for car in cars:
    if car is not "toyota":
        print car

ford
bmw
volkswagon
smart
audi

In [58]:
# addition
5 + 3

8

In [59]:
# subtraction
4 - 2

2

In [60]:
# division
4 / 2

2

In [61]:
# multiplication
3 * 3

9

In [62]:
# modulo aka the remainder
5 % 2

1

In [63]:
8 > 2

True

In [64]:
8 > 10

False

In [65]:
truck >= 14

True

In [66]:
print gas

2.35

In [68]:
arkgas = gas

In [69]:
calgas = 4.00

In [70]:
calgas < arkgas

False

In [71]:
first_name = "nat"

In [72]:
firstname = "naaaaat"

In [73]:
firstName = "nAtAlY"

In [75]:
# breaking quote marks
sentence = "nataly said, \"hello.\""

In [76]:
print sentence

nataly said, "hello."

In [77]:
sentence2 = "danielle said, \'can we do single quotes?\'"
print sentence2

danielle said, 'can we do single quotes?'

In [78]:
sentence3 = "jon said, \"danielle said, 'can we do single quotes?'\""
print sentence3

jon said, "danielle said, 'can we do single quotes?'"

In [79]:
sentence4 = """
this is a line
nother one
another
"""

print sentence4

this is a line
nother one
another

In [80]:
# create a text file
f = open("week2test.txt", "w")

In [81]:
# write a sentence to that file
f.write(sentence4)

In [82]:
# close the file
f.close()

In [87]:
# open the file for reading
f = open("week2test.txt", "r")

In [88]:
f.read()

'\nthis is a line\nnother one\nanother\n'

In [89]:
f.close()

In [94]:
f = open("week2test.txt", "a")

In [95]:
f.write("i just added dis\n")

In [96]:
f.close()

In [100]:
fruits = """
red
\t*strawberry
\t*cherry
\t*apple
\t*raspberry
"""

In [101]:
print fruits

red
	*strawberry
	*cherry
	*apple
	*raspberry

In [102]:
f = open("week2test.txt","a")

In [103]:
f.write(fruits)

In [104]:
f.close()

In [105]:
import csv

In [109]:
# open the assessor file
with open ("assessor.csv", "r") as csvfile:
    # run the file through csv reader
    assessor = csv.reader(csvfile)
    # loop through each row
    for row in assessor:
        # check if this assessor id number in in row
        if 'UNIVERSITY OF SOUTHERN CA' in row:
            print row

['5525-030-023', '19811026-50', 'other', 'N', 'UNIVERSITY OF SOUTHERN CA', '', '', '', '457', '', 'N', 'ORANGE DR', '', 'LOS ANGELES CA', '90036-2611', '', '', '', '', '', '', '']
['5525-032-017', '19811026-50', 'other', 'N', 'UNIVERSITY OF SOUTHERN CA', '', '', '', '321', '', 'N', 'SYCAMORE AVE', '', 'LOS ANGELES CA', '90036-2685', '0', '', '', 'UNIVERSITY PARK MC-0588', '', 'LOS ANGELES CA', '90089']
['5055-027-022', '19860611-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '1149', '', 'E', '28TH ST', '', 'LOS ANGELES CA', '90011-2159', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5055-029-020', '19860114-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '1138', '', 'W', '29TH ST', '', 'LOS ANGELES CA', '90007-3115', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5055-029-021', '19860114-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '1124', '', 'W', '29TH ST', '', 'LOS ANGELES CA', '90007-3114', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5122-022-002', '19890418-50', 'other', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '3500', '', 'S', 'HOPE ST', '', 'LOS ANGELES CA', '90007-4342', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5123-004-433', '19921026-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '3375', '', 'S', 'HOOVER ST', '115', 'LOS ANGELES CA', '90089-0116', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5139-029-027', '20101105-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', '', '1155', '', 'S', 'GRAND AVE', 'NO  1410', 'LOS ANGELES CA', '90015-2272', '620', '', 'W', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089']
['2331-032-199', '20080212-50', 'nonReapp', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '13032', '', '', 'VICTORY BLVD', '', 'LOS ANGELES CA', '91606-2926', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']

In [110]:
# open the assessor file
with open ("assessor.csv", "r") as csvfile:
    # run the file through csv reader
    assessor = csv.reader(csvfile)
    # loop through each row
    for row in assessor:
        # check if this assessor id number in in row
        if '5055-029-020' in row:
            print row

['5055-029-020', '19860114-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '1138', '', 'W', '29TH ST', '', 'LOS ANGELES CA', '90007-3115', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']

In [117]:
# open the assessor file
with open ("assessor.csv", "r") as csvfile:
    # run the file through csv reader
    assessor = csv.reader(csvfile)
    # loop through each row
    for row in assessor:
        # check if this assessor id number in in row
        if 'UNIVERSITY OF SOUTHERN CA' in row or 'UNIVERSITY OF SO CALIF' in row:
            print row

['7480-004-007', '19781229-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '207', '', '', 'WRIGLEY RD E TE', '', 'AVALON CA', '90704', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['7480-040-026', '19720207-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '0', '', '', 'BIG FISHERMANS COVE UNIVERSITY', '', 'AVALON CA', '90704', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5525-030-023', '19811026-50', 'other', 'N', 'UNIVERSITY OF SOUTHERN CA', '', '', '', '457', '', 'N', 'ORANGE DR', '', 'LOS ANGELES CA', '90036-2611', '', '', '', '', '', '', '']
['5525-032-017', '19811026-50', 'other', 'N', 'UNIVERSITY OF SOUTHERN CA', '', '', '', '321', '', 'N', 'SYCAMORE AVE', '', 'LOS ANGELES CA', '90036-2685', '0', '', '', 'UNIVERSITY PARK MC-0588', '', 'LOS ANGELES CA', '90089']
['5039-002-029', '19711210-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '1012', '', 'W', '36TH ST', '', 'LOS ANGELES CA', '90007-5603', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5039-002-030', '19711210-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '1046', '', 'W', '36TH ST', '', 'LOS ANGELES CA', '90007-5603', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5039-002-031', '19711210-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '1027', '', 'W', '34TH ST', '', 'LOS ANGELES CA', '90089-0001', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5039-002-032', '19711210-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '1015', '', 'W', '34TH ST', '', 'LOS ANGELES CA', '90007-3508', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5039-002-033', '19820513-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '0', '', '', '', '', '', '', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5039-002-034', '19711210-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '3667', '', '', 'MCCLINTOCK AVE', '', 'LOS ANGELES CA', '90089-0084', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5039-003-027', '19711210-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '925', '', 'W', '34TH ST', '', 'LOS ANGELES CA', '90089-0058', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5039-003-029', '19711210-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '0', '', '', '', '', '', '', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5039-003-030', '19820513-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '0', '', '', '', '', '', '', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5039-012-027', '19640000-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '920', '', 'W', '37TH ST', '', 'LOS ANGELES CA', '90089-0061', '620', '', 'W', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089']
['5039-012-029', '19600113-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '3564', '', '', 'MCCLINTOCK AVE', '', 'LOS ANGELES CA', '90007-4032', '620', '', 'W', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089']
['5039-012-030', '19650000-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '900', '', 'W', '35TH ST', '', 'LOS ANGELES CA', '90007-4001', '620', '', 'W', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089']
['5039-012-031', '19650000-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '0', '', '', '', '', '', '', '620', '', 'W', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089']
['5039-012-033', '19640000-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '3730', '', '', 'MCCLINTOCK AVE', '', 'LOS ANGELES CA', '90007-4012', '620', '', 'W', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089']
['5039-019-051', '19760818-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '3131', '', '', 'MCCLINTOCK AVE', '', 'LOS ANGELES CA', '90007-3560', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5039-024-016', '19831116-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '3441', '', '', 'UNIVERSITY AVE', '', 'LOS ANGELES CA', '90007-3504', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5055-012-019', '19790522-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '1275', '', 'W', '29TH ST', '', 'LOS ANGELES CA', '90007-3180', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5055-027-022', '19860611-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '1149', '', 'E', '28TH ST', '', 'LOS ANGELES CA', '90011-2159', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5055-029-020', '19860114-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '1138', '', 'W', '29TH ST', '', 'LOS ANGELES CA', '90007-3115', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5055-029-021', '19860114-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '1124', '', 'W', '29TH ST', '', 'LOS ANGELES CA', '90007-3114', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5122-022-002', '19890418-50', 'other', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '3500', '', 'S', 'HOPE ST', '', 'LOS ANGELES CA', '90007-4342', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5122-025-006', '19640929-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '3711', '', 'S', 'GRAND AVE', '', 'LOS ANGELES CA', '90007-4332', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5122-025-010', '19640929-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '3706', '', 'S', 'HOPE ST', '', 'LOS ANGELES CA', '90007-4344', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5122-025-012', '19640929-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '3714', '', 'S', 'HOPE ST', '', 'LOS ANGELES CA', '90007-4344', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5122-025-013', '19640929-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '3718', '', 'S', 'HOPE ST', '', 'LOS ANGELES CA', '90007-4344', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5123-004-403', '19641112-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '914', '', 'W', '28TH ST', '', 'LOS ANGELES CA', '90007-2434', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5123-004-411', '19830110-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '921', '', 'W', '30TH ST', '', 'LOS ANGELES CA', '90007-2402', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5123-004-433', '19921026-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '3375', '', 'S', 'HOOVER ST', '115', 'LOS ANGELES CA', '90089-0116', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5123-023-024', '19700526-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', '', '663', '', 'W', '34TH ST', '', 'LOS ANGELES CA', '90089-0067', '830', '', '', 'CHILDS WAY', 'STE 5', 'LOS ANGELES CA', '90089-0277']
['5123-023-025', '19820513-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'C/O DEE JACKSON', '0', '', '', '', '', '', '', '620', '', 'W', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5124-011-016', '19780629-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', '', '2390', '', '', 'PORTLAND ST', '', 'LOS ANGELES CA', '90007-1958', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5139-029-027', '20101105-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', '', '1155', '', 'S', 'GRAND AVE', 'NO  1410', 'LOS ANGELES CA', '90015-2272', '620', '', 'W', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089']
['2331-032-199', '20080212-50', 'nonReapp', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '13032', '', '', 'VICTORY BLVD', '', 'LOS ANGELES CA', '91606-2926', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']

In [118]:
# open up the usc property file
f = open("usc.txt", "w")

# open the assessor file
with open ("assessor.csv", "r") as csvfile:
    # run the file through csv reader
    assessor = csv.reader(csvfile)
    # loop through each row
    for row in assessor:
        # check if this assessor id number in in row
        if 'UNIVERSITY OF SOUTHERN CA' in row or 'UNIVERSITY OF SO CALIF' in row:
            print row[0]
            f.write(row[0] + '\n')

# close the txt file
f.close()

7480-004-007
7480-040-026
5525-030-023
5525-032-017
5039-002-029
5039-002-030
5039-002-031
5039-002-032
5039-002-033
5039-002-034
5039-003-027
5039-003-029
5039-003-030
5039-012-027
5039-012-029
5039-012-030
5039-012-031
5039-012-033
5039-019-051
5039-024-016
5055-012-019
5055-027-022
5055-029-020
5055-029-021
5122-022-002
5122-025-006
5122-025-010
5122-025-012
5122-025-013
5123-004-403
5123-004-411
5123-004-433
5123-023-024
5123-023-025
5124-011-016
5139-029-027
2331-032-199

In [119]:
# open up the usc property file
f = open("usc.html", "w")

# write header now
f.write("<p><strong>ain</strong></p>\n")

# open the assessor file
with open ("assessor.csv", "r") as csvfile:
    # run the file through csv reader
    assessor = csv.reader(csvfile)
    # loop through each row
    for row in assessor:
        # check if this assessor id number in in row
        if 'UNIVERSITY OF SOUTHERN CA' in row or 'UNIVERSITY OF SO CALIF' in row:
            print row[0]
            f.write("<p>" + row[0] + '</p>\n')

# close the txt file
f.close()

7480-004-007
7480-040-026
5525-030-023
5525-032-017
5039-002-029
5039-002-030
5039-002-031
5039-002-032
5039-002-033
5039-002-034
5039-003-027
5039-003-029
5039-003-030
5039-012-027
5039-012-029
5039-012-030
5039-012-031
5039-012-033
5039-019-051
5039-024-016
5055-012-019
5055-027-022
5055-029-020
5055-029-021
5122-022-002
5122-025-006
5122-025-010
5122-025-012
5122-025-013
5123-004-403
5123-004-411
5123-004-433
5123-023-024
5123-023-025
5124-011-016
5139-029-027
2331-032-199

In [2]:
# define a new function
def ladycat(time):
    if time is 'night': 
        print "SCOWL"
    elif time is 'day':
        print "purr"
    else:
        print "aziz ansari"

In [3]:
ladycat('night')

SCOWL

In [4]:
ladycat('day')

purr

In [5]:
ladycat('yo')

aziz ansari